<div class="row">
        <div  class="col-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="card-img-actions d-inline-block mb-3">
                        <img class="img-fluid rounded-circle" src="/assets/placeholder.jpg" width="170" height="170" alt="">
                        <div class="card-img-actions-overlay card-img rounded-circle">
                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                                <i class="icon-plus3"></i>
                            </a>
                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <h6 class="font-weight-semibold mb-0">James Alexander</h6>
                    <span class="d-block text-muted">Lead developer</span>
                    <div class="list-icons list-icons-extended mt-3">
                        <div tabindex="500" class="btn btn-primary btn-file"><i class="icon-file-plus mr-2"></i> <span class="hidden-xs">Upload Profile Picture</span><input type="file" class="file-input" data-show-caption="false" data-show-upload="false" data-fouc="" id="1565173280548_85"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
          <div class="card">
              <div class="card-header header-elements-inline">
                  <h6 class="card-title">USER NAME <br> Place</h6>
                  <div class="header-elements">
                      <div class="list-icons">
                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_edit" class="ml-auto">Edit Profile</a>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Country When suspiciously goodness labrador understood rethought yawned grew piously endearingly inarticulate oh goodness jeez trout distinct hence cobra despite taped laughed the much audacious less inside tiger groaned darn stuffily metaphoric unihibitedly inside cobra.</label>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                 
                              </div>
                          </div>

                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                 
                              </div>
                          </div>

                      </div> 
                      <div class="row">
                          <div class="col-md-9">
                              <div class="form-group">
                                  
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label>MAIL | PHONE NUMBER:</label>
                              </div>
                          </div>
                      </div>                                            
              </div>
          </div>
        </div>
</div>

<!-- Content area -->
<div class="content">
<!-- Images grid -->
<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
  <div class="d-flex">
    <div class="breadcrumb">
     <h6 class="card-title"> <a href="#" class="breadcrumb-item">PAINTINGS</a></h6>
    </div>

    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
  </div>

  <div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
     <!--  <a href="#" class="breadcrumb-elements-item">Add Paintings</a> -->
      <div tabindex="500" class="btn btn-primary btn-file"><i class="icon-file-plus mr-2"></i> <span class="hidden-xs">Add Paintings</span><input type="file" class="file-input" data-show-caption="false" data-show-upload="false" data-fouc="" id="1565173280548_85"></div>
    </div>
  </div>
</div>



    <div class="row">
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-img-actions px-1 pt-1">
                    <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
                    <div class="card-img-actions-overlay card-img">
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                            <i class="icon-plus3"></i>
                        </a>
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                     <h6 class="font-weight-semibold">Painting</h6><label><div class="uniform-checker"><span class=""><input type="checkbox" class="form-check-input-styled"></span></div>Mark Public </label>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-img-actions px-1 pt-1">
                    <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
                    <div class="card-img-actions-overlay card-img">
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                            <i class="icon-plus3"></i>
                        </a>
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                     <h6 class="font-weight-semibold">Painting</h6><label><div class="uniform-checker"><span class=""><input type="checkbox" class="form-check-input-styled"></span></div>Mark Public </label>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-img-actions px-1 pt-1">
                    <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
                    <div class="card-img-actions-overlay card-img">
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                            <i class="icon-plus3"></i>
                        </a>
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                     <h6 class="font-weight-semibold">Painting</h6><label><div class="uniform-checker"><span class=""><input type="checkbox" class="form-check-input-styled"></span></div>Mark Public </label>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-img-actions px-1 pt-1">
                    <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
                    <div class="card-img-actions-overlay card-img">
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                            <i class="icon-plus3"></i>
                        </a>
                        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="font-weight-semibold">Painting</h6><label><div class="uniform-checker"><span class=""><input type="checkbox" class="form-check-input-styled"></span></div>Mark Public </label>
                </div>
            </div>
        </div>
    </div>
    <!-- /images grid -->
</div>
<!-- /content area -->
<!-- Basic modal -->
<div id="modal_edit" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>
                        <div class="form-group request">
                          <label>Name:</label>
                          <input type="text" class="form-control" name="user[name]" placeholder="Name" value="<%=  resource.name || '' %>">
                        </div>

                        <div class="form-group">
                          <label>Email:</label>
                          <input type="text" class="form-control" name="user[email]" placeholder="Email" value="<%= resource.email || '' %>">
                        </div>

                        <div class="form-group">
                          <label>Phone:</label>
                          <input type="text" class="form-control" name="user[phone]" placeholder="Phone" value="<%= resource.phone || '' %>">
                        </div>


                        <div class="form-group">
                          <label>City:</label>
                          <input type="text" class="form-control" name="user[city]" placeholder="City" value="<%= resource.city || '' %>">
                        </div>
                        <div class="form-group">
                          <label>Country:</label>
                          <input type="text" class="form-control" name="user[country]" placeholder="Country" value="<%= resource.country || '' %>">
                        </div>

                        <div class="form-group">
                          <label>Username:</label>
                          <input type="text" class="form-control" name="user[username]" placeholder="Username" value="<%= resource.username || '' %>">
                        </div>

                        <div class="form-group">
                          <label>Password:</label>
                          <input type="password" class="form-control" name="user[password]" placeholder="password" value="<%= resource.password || '' %>">
                        </div>
                        <div class="form-group">
                          <label>Password:</label>
                          <input type="password" class="form-control" name="user[current_password]" placeholder="current_password" value="<%= resource.current_password || '' %>">
                        </div>                                                  
                        <div class="form-group row">
                        <label class="col-lg-3 col-form-label">About:</label>
                          <div class="col-lg-9">
                            <textarea rows="5" cols="5" class="form-control" name="user[about]" placeholder="Enter your message here" value="<%= resource.about || '' %>"></textarea>
                          </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Save <i class="icon-circle-right2 ml-2"></i></button>
                        </div>
                      </div>                        
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /basic modal -->